<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.comcast.crm.listenerUtility.ListenerImplementation"></listener>
	</listeners>
  <test thread-count="5" name="Test">
	<!-- Before executing this test class, by taking help of this listener class the extent report will be generated-->
    <classes>
      <class name="com.comcast.crm.orgtest.CreateOrganizationTest">
      <methods>
		<include name="createOrganizationTest"/>
	  </methods>
	  </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
